<div class="wrapper wrapper-content animated fadeInRight"><!-- bu bölüme yeni parca eklendi -->
  <br>
  <!--satınalma satırları -->
  <div class="row">
    <div class="col-lg-12 ">
      <div class="ibox kb ibox-kutu">
        <div class="ibox-title">
          <h5>Güncel Bakiye ve Transferler</h5>
          <iboxtools></iboxtools>
        </div>
        <div class="ibox-content">
          <div class="row kb-bakiye">
            <div class="col-md-5">
              <div><span class="label label-primary">Bakiye ve Kredi</span></div>
              <div class="kb-bakiye1">
                <div class="row">
                  <div class="col-sm-7">Kredi Miktarı</div>
                  <div class="col-sm-5"><h4>125</h4></div>
                </div>
                <div class="row">
                  <div class="col-sm-7">Geri Ödenebilir Bakiye*</div>
                  <div class="col-sm-5"><h4>0.00 USD</h4></div>
                </div>
                <div class="row">
                  <div class="col-sm-7">Şu an 1 Kredi</div>
                  <div class="col-sm-5"><h4>1.00 USD</h4></div>
                </div>
              </div>
              <div>Kobip kredi kartı bilgilerinizi saklamaz.</div>
              <div>*Son bakiye transferinden itibaren 180 gün sonra krediye çevirmediğiniz bakiyenizi geri ödeme
                alabilirsiniz.
              </div>

              <br>
              <div style="text-align:center; margin-top:10px;">
                <button type="button" class="btn btn-primary">3D Güvenlik ile Ödeme Yap</button>
              </div>
            </div>
            <div class="col-md-7">
              <div><span class="label label-primary">Trasfer ve Krediler</span></div>
              <div class="kb-bakiye2_baslik kb-bakiye2_satir">
                <div class="row" style="margin: 0">
                  <div class="col-sm-3">Tarih (dd/mm/yy)</div>
                  <div class="col-sm-3">İşlem Tipi</div>
                  <div class="col-sm-6">İşlem</div>
                </div>
              </div>
              <div class="kb-bakiye2 kb-bakiye2_satir">
                <div class="row" style="margin: 0">
                  <div class="col-sm-3">30/08/17</div>
                  <div class="col-sm-3">Ödeme</div>
                  <div class="col-sm-6">+25.00 USD Kredi Kartı (-5214)</div>
                </div>
                <div class="row" style="margin: 0">
                  <div class="col-sm-3">30/08/17</div>
                  <div class="col-sm-3">Dönüşüm</div>
                  <div class="col-sm-6">25USD => +25 Kredi (1K = 1.00USD)</div>
                </div>
                <div class="row" style="margin: 0">
                  <div class="col-sm-3">01/09/17</div>
                  <div class="col-sm-3">Bonus</div>
                  <div class="col-sm-6">+100 Kredi</div>
                </div>
                <div class="row" style="margin: 0">
                  <div class="col-sm-3">01/09/17</div>
                  <div class="col-sm-3">Geri Ödeme</div>
                  <div class="col-sm-6">-12.00 USD Banka Hesabı (-1245)</div>
                </div>
                <div class="row" style="margin: 0">
                  <div class="col-sm-3">01/09/17</div>
                  <div class="col-sm-3">Geri Ödeme</div>
                  <div class="col-sm-6">-12.00 USD Banka Hesabı (-1245)</div>
                </div>
                <div class="row" style="margin: 0">
                  <div class="col-sm-3">01/09/17</div>
                  <div class="col-sm-3">Geri Ödeme</div>
                  <div class="col-sm-6">-12.00 USD Banka Hesabı (-1245)</div>
                </div>
              </div>

            </div>

          </div>
        </div>

      </div>
    </div>

  </div>
  <!-- satınalma satırları son -->
  <br>
  <!--kategori önerisi satırları -->
  <div class="row">
    <div class="col-lg-12 ">
      <div class="ibox kb ibox-kutu">
        <div class="ibox-title">
          <h5>Harcamalar</h5>
          <iboxtools></iboxtools>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-xs-2 ">Tarih</div>
            <div class="col-xs-4 ">İşlem Tipi</div>
            <div class="col-xs-3 ">Kişi</div>
            <div class="col-xs-1 ">Kredi</div>
            <div class="col-xs-2 ">Toplam Kredi</div>
          </div>
          <div class="row">
            <div class="col-xs-2 ">30/07/2017</div>
            <div class="col-xs-4 ">#4345436 ilan oluştrulması çeviri Teklifi</div>
            <div class="col-xs-3 ">Ali Sinan Aktaş</div>
            <div class="clearfix visible-xs"></div>
            <div class="col-xs-1 ">1</div>
            <div class="col-xs-2 ">124</div>
          </div>
          <div class="row">
            <div class="col-xs-2 ">30/07/2017</div>
            <div class="col-xs-4 ">#4345436 ilan oluştrulması çeviri Teklifi</div>
            <div class="col-xs-3">Ali Sinan Aktaş</div>
            <div class="clearfix visible-xs"></div>
            <div class="col-xs-1 ">1</div>
            <div class="col-xs-2 ">124</div>
          </div>
          <div class="row">
            <div class="col-xs-2">30/07/2017</div>
            <div class="col-xs-4 ">#4345436 ilan oluştrulması çeviri Teklifi</div>
            <div class="col-xs-3">Ali Sinan Aktaş</div>
            <div class="clearfix visible-xs"></div>
            <div class="col-xs-1 ">1</div>
            <div class="col-xs-2 ">124</div>
          </div>
        </div>

      </div>
    </div>

  </div>
  <!-- kategori önerisi son -->


</div>
