<div class="row border-bottom">
  <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <a class="minimalize-styl-2 btn btn-primary " (click)="toggleNavigation()"><i class="fa fa-bars"></i> </a>
    </div>
    <ul class="nav navbar-top-links navbar-right">
      <li> <!-- kb eklendi -->
        <a [routerLink]="['/personal/info' | localize]">
          <img alt="image"
               class="img-circle kb calisan_mini1"
               [src]="user.thumbnailPath ? user.thumbnailPath : kobipConfig.thumbnailPathProfile"><span
          class="kb uye_isim1">{{user.name}}&nbsp;{{user.surname}}</span>
        </a>
      </li>
      <!--  <li class="dropdown" dropdown>
          <a class="dropdown-toggle count-info" dropdownToggle>
            {{curruntLang.toUpperCase()}}
          </a>
          <ul class="dropdown-menu dropdown-alerts" style="width: 140px" *dropdownMenu>
            <li>
              <a (click)="languageChange('tr')">
                <div>Türkçe</div>
              </a>
            </li>
            <li>
              <a (click)="languageChange('en')">
                <div>
                  İngilizce
                </div>
              </a>
            </li>
          </ul>
        </li>-->
      <!--    <li> &lt;!&ndash; kb eklendi &ndash;&gt;
            <a (click)="routePersonalEdit()">
              <i class="fa fa-cog"></i>
            </a>
          </li>-->
      <li> <!-- logout yazısı silindi, sadece ikon yeterli, tool tip konulabilir. -->
        <a (click)="logout()">
          <i class="fa fa-sign-out"></i>
        </a>
      </li>
    </ul>

  </nav>
</div>
